.AppHeader {
  background-color: #fff;
}

.AppHeader .Center {
  display: flex;
}

.AppHeader_Title {
  flex: 1;
  text-transform: uppercase;
}

.AppHeader a {
  display: block;
  text-decoration: none;
  padding: 0 20px;
  line-height: 86px;
}

.AppHeader a:first-child {
  padding-left: 0;
}

.AppHeader a:last-child {
  padding-right: 0;
}

.AppHeader h1 {
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
}

@media (max-width: 768px) {
  .AppHeader .AppHeader__Projects {
    display: none;
  }
}
