.ContentMarkdown {
  padding: 40px 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.ContentMarkdown p {
}

.ContentMarkdown h2 {
  color: #333333;
  font-weight: 300;
  margin-top: 40px;
}

.ContentFullBleed {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ContentIframe {
  width: 100%;
  height: 500px;
  border: 0px;
  overflow: hidden;
}

.ContentIframe iframe {
  width: 100%;
  height: 650px;
  border: 0px;
}

@media (max-width: 768px) {
  .ContentIframe {
    height: 400px;
  }
  .ContentFullBleed {
    height: 400px;
  }
}
