.Hero {
  position: relative;
  height: 400px;
  overflow: hidden;
  color: #fff;
  background-color: #dddddd;
  background-image: linear-gradient(#ffffff 0%, #fafafafa 100%);
  background-size: cover;
  background-position: center;
}

.Hero--Short {
  height: 200px;
}

.Hero__Content {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding-bottom: 40px;
  z-index: 1;
}

.Hero__Content--Shadow {
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.Hero .Center h2 {
  z-index: 1;
  line-height: 4rem;
  font-size: 4rem;
  color: #7df1a4;
  padding-right: 20px;
  margin-bottom: 20px;
}

.Hero .Center a {
  display: block;
  font-size: 1.25rem;
  color: #7df1a4;
  text-decoration: none;
  margin-bottom: 20px;
}
